<%= @dish['name'] %>



<img src="<%= @dish['image_url'] %>">


<a href="/dishes/<%= @dish['id'] %>/edit">edit</a>

<form action="/dishes/<%= @dish['id']%>/delete" method="post">
  <button>delete</button>
</form>