<html>
<head>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <h1>please donate</h1>

  <h2><%= Time.now %></h2>

  <h2>amount donated: <%= @amount_donated %></h2>
</body>
</html>