.box {
  width: 200px;
  height: 100px;
  border: 1px solid blue;
  margin-bottom: 5px;
}

.position-static {
  position: static;
}

.position-fixed {
  position: fixed;
  top: 0;
  right: 0;
}

.position-relative {
  position: relative;
  left: 40px;
}

.position-absolute {
  position: absolute;
  left: 20px; 
}

