
<a href="/dishes/new">new dish</a>

<ul>
  <li><a href="/?dish_type_id=6">dinner</a></li>
</ul>

<% @dishes.each do |dish| %>

  <h2>
    <a href="/dishes/<%= dish.id %>">
      <%= dish.name %>
    </a>
  </h2>

<% end %>