<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <style>
    label {
      display: block;
    }
  </style>
</head>
<body>
  <h1>goodfoodhunting</h1>

  <%= yield %>
</body>
</html>