<%= form_tag '/session', method: 'post' do %>
  <label for="">email</label>
  <input name="email" type="text">
  <label for="">password</label>
  <input name="password" type="password">
  <button>login</button>
<% end %>