<form action="/dishes/<%= @dish.id %>" method="post">
  <input type="hidden" name="_method" value="patch">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">  
  
  <label for="">title</label>
  <input name="title" type="text" value="<%= @dish.title %>">

  <label for="">image_url</label>
  <textarea name="image_url" id="" cols="30" rows="10"><%= @dish.image_url %></textarea>


  <button>update</button>

</form>