<% @dishes.each do |dish| %>

  <p><%= dish.title %></p>

  <%= form_tag '/likes', method: 'post' do %>
    <input type="hidden" name="dish_id" value="<%= dish.id %>">
    <button>like</button>
  <% end %>
  <%= dish.likes.count %>

<% end %>