<div class="dish-list">
  
<% @dishes.each do |dish| %>
  <div class="ui-card" data-dish-id="<%= dish.id %>">
    <header class="content">
      <span class="right">14h</span>
      <img class="avatar" src="https://placeholdit.imgix.net/~text?txtsize=75&txt=800%C3%97800&w=800&h=800" alt=""> DT 
    </header>

    <div class="image">
      <img src="https://placeholdit.imgix.net/~text?txtsize=75&txt=800%C3%97800&w=800&h=800" alt="">
      <span class="star">&#9733;</span>
    </div>

    <div class="content">
      <h2><%= dish.title %></h2>
      <h4>at GA</h4>
    </div>

    <div class="content">
      <span class="right count"><%= dish.likes.count %></span> by DT
    </div>
  </div>
<% end %>

</div>

<script>
  
  // clicking on any button
  $('.star').on('click', function(event) {
    event.preventDefault();

    // console.log('dish_id', $(event.target).closest('.dish').attr('data-dish-id'));
    // make a request to the server
    // console.log(event.target);

    var options = {
      url: '/api/likes',
      method: 'post',
      data: { 
        dish_id: $(event.target).closest('.ui-card').data('dish-id') 
        // dish_id: $(event.target).closest('.dish').attr('data-dish-id')
      }
    }

    var updateCount = function(response) {
      // from the target we need to traverse the dom to find
      // the nearest div with the class count
      // to use closest and find which are jquery functions
      // i need to turn event.target from a simple dom elem
      // to a jquery object
      // look up for .dish
      var $dish = $(event.target).closest('.ui-card');
      // from $dish, look down for .count
      var $count = $dish.find('.count');
      // $count.text(  parseInt($count.text()) + 1 );
      $count.text( response.like_count );
    }

    $.ajax(options).done(updateCount); // makes a request

  });

</script>