<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <form action="/process" method="post">
    <input type="text" name="amount">
    <button>donate</button>
  </form>
</body>
</html>